{% extends "MyschoolBundle:Default:affichage.html.twig" %}

{% block menu %}
    <h1>List Classe</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
            </tr>
        </thead>
        <tbody>
        {% for cl in enss %}
            <tr>
                <td>{{ cl.id }}</td>
                <td>{{ cl.libelle }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('classe_new') }}">
                Ajout Classe
            </a>
        </li>
    </ul>
    {% endblock %}